@import "./mixins.scss";
@import "./animations";
@import "../style/layout";

figure {
  margin: 0;
}

svg {
  width: 100%;
  height: auto;
}

img {
  width: 100%;
  object-fit: scale-down;
  height: fit-content;
}

.full-width-line {
  grid-column: 1 / -1;
  @include desktop {
    grid-column: 2 / 6;
  }
}

.mobile_divide_line {
  grid-column: 1 / -1;
}

.tablet_spacer {
  display: none;
}

/* Begin Main Style */
.project_page-wrapper {
  padding: 0 1rem;
  position: relative;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  .hero_line {
    display: none;
  }
  .project_navbar {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    opacity: 0;
    @include fade-in-down-5pct($delay:500ms, $duration:2500ms);
  }
  .project-headline {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
  }
  .project_page-hero {
    grid-column: 1 / -1;
    grid-row: 3 / 4;
    margin: 1.25rem 0;
    img {
      @include fullWidthImage;
    }
  }
  .project_page-info {
    &-wrapper {
      grid-column: 1 / -1;
      grid-row: 4 / 5;
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
      margin-bottom: 1.25rem;
    }
    &-tools {
      order: 1;
      margin-bottom: 0.4rem;
      opacity: 0;
      @include fade-in-up-quick($duration: 1s, $delay: 400ms);
      h2 {
        margin-bottom: 0.35rem;
      }
    }
    &-role {
      order: 2;
      opacity: 0;
      @include fade-in-up-quick($duration: 1s, $delay: 500ms);
    }
    &-links {
      order: 3;
      opacity: 0;
      @include fade-in-up-quick($duration: 1s, $delay: 300ms);
    }
  }
  .project_page-summary {
    grid-column: 1 / -1;
    grid-row: 5 / 6;
    opacity: 0;
    @include fade-in-down($delay: 300ms);
  }
  .project_page-problem {
    grid-column: 1 / -1;
    grid-row: 8 / 9;
  }
  .project_page-user_research {
    display: none;
  }

  /* Approach */
  .nyt_project_page-approach {
    grid-column: 1 / -1;
    h4 {
      margin: 0 0 3rem; // **
      color: var(--dark-1);
      text-align: center;
      font-family: var(--main-font);
      font-size: 1.875rem;
      font-weight: 300;
      line-height: 100%;
    }
  }

  .nyt_project_page-design {
    grid-column: 1 / -1;
    .nyt_project_page-design-small_headline {
      margin: 0 0 0.5rem;
      color: var(--dark-3);
      font-family: var(--main-font);
      font-size: 1.125rem;
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 0.0225rem;
    }
    &-typography_and_color {
      div[class$="-type_specimen_wrapper"] {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: 2rem;
      }
    }
    .spacer-post_color {
      display: none;
    }
  }
  .nyt_project_page-site_flow {
    display: none;
  }
  /* Problems */
  .nyt_project_page-problems {
    grid-column: 1 / -1;
    &-section_three {
      grid-column: 1 / -1;
      &-group {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
      }
      &-image.image_one,
      &-image.image_three {
        grid-column: 1 / 2;
      }
      img {
        @include fullWidthImage;
      }
      figcaption {
        margin-top: 0.5rem;
        padding: 0 0.25rem;
      }
    }
  }
}

/* ****************** TABLET AND ABOVE ****************** */
@include tablet {
  .tablet_spacer {
    display: unset;
  }
  .mobile_divide_line {
    display: none;
  }
  .project_page-wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 20px;
    .hero_line {
      display: unset;
    }
    .project_navbar {
      grid-column: 1 / 5;
    }
    .project-headline {
      grid-row: 2 / 3;
      margin-bottom: 3rem;
    }
    .project_page-summary {
      grid-column: 1 / 3;
      grid-row: 3 / 4;
    }
    .project_page-hero {
      grid-row: 4 / 5;
      margin: 1.5rem 0 0;
    }
    .project_page-info {
      &-wrapper {
        grid-column: 3 / 5;
        grid-row: 3 / 4;
      }
      &-role {
        order: 1;
      }
      &-tools {
        order: 2;
        margin-bottom: 0;
        h2 {
          margin-bottom: 0.4rem;
        }
      }
      &-links {
        order: 3;
      }
    }
    .hero_line {
      grid-column: 1 / -1;
      grid-row: 5 / 6;
    }
    .project_page-problem {
      grid-column: 1 / 3;
      grid-row: 6 / 7;
    }
    .project_page-user_research {
      display: unset;
      grid-column: 3 / 5;
      grid-row: 6 / 7;
    }

    /* Site Flow */
    .nyt_project_page-site_flow {
      display: block;
      grid-column: 1 / -1;
      margin-top: 3rem;
      img {
        border-radius: 0.25rem;
        border: 1px solid var(--dark-2);
      }
    }
    .nyt_project_page-problems {
      &-section_three {
        &-group {
          grid-template-columns: repeat(4, 1fr);
          .project_text_block {
            grid-column: 2 / 4;
          }
        }
        &-image.image_one {
          grid-column: 1 / 2;
        }
        &-image.image_two {
          grid-column: 2 / 3;
        }
        &-image.image_three {
          grid-column: 3 / 4;
        }
        &-image.image_four {
          grid-column: 4 / 5;
        }
      }
    }
  }

  .nyt_project_page-approach {
    h4 {
      margin: 0;
      font-size: 2.1875rem;
      grid-row: 1 / 2;
    }
    &-section_one,
    &-section_three {
      @include nested-double-wide-grid;
      
      div.project_text_block {
        @include double-wide-left;
      }
      figure {
        @include double-wide-right;
      }
    }
    &-section_two,
    &-section_four {
      @include nested-double-wide-grid;
      div.project_text_block {
        @include double-wide-right;
      }
      figure {
        @include double-wide-left;
      }
    }
    &-section_three {
      @include nested-double-wide-grid;
      div.project_text_block {
        @include double-wide-left;
      }
      figure {
        @include double-wide-right;
      }
      
    }
  }

  /* Design Considerations */
  .nyt_project_page-design {
    grid-column: 1 / -1;
    &-considerations {
      &-wrapper {
        @include nested-double-wide-grid;
      }
      &_left {
        @include double-wide-left;
      }
      &_right {
        @include double-wide-right;
      }
    }
    .nyt_project_page-design-small_headline {
      margin: 0 0 1.25rem;
    }
    &-typography_and_color {
      @include nested-double-wide-grid;
      gap: 30px;
      &-type_wrapper {
        @include double-wide-left;
      }
      div[class$="-type_specimen_wrapper"] {
        margin-bottom: 0;
      }
      &-color_wrapper {
        @include double-wide-right;
      }
    }
    .spacer-post_color {
      display: block;
    }
  }

  /* Problems */
  .nyt_project_page-problems {
    @include nested-double-wide-grid;
    &_left {
      @include double-wide-left;
    }
    &_right {
      @include double-wide-right;
    }

    &-section_one {
      @include double-wide-left;
      grid-row: 2 / 3;
    }
    &-section_two {
      @include double-wide-right;
      grid-row: 2 / 3;
    }
    &-section_three {
      figcaption {
        margin-top: 1rem;
      }
    }
  }
}

/* Desktop */
@include desktop {
  .project_page-wrapper {
    @include nested-six-wide-grid;
    .project_navbar {
      grid-column: 1 / -1;
    }
    .project-headline {
      grid-column: 2 / 5;
    }
    .project_page-hero,
    .hero_line,
    .nyt_project_page-site_flow {
      grid-column: 2 / 6;
    }
    .project_page-summary,
    .project_page-problem {
      grid-column: 2 / 4;
    }
    .project_page-info-wrapper,
    .project_page-user_research {
      grid-column: 4 / 6;
    }
  }
  .nyt_project_page-approach {
    h4 {
      grid-column: 2 / 6;
    }
    &-section_one,
    &-section_three {
      @include nested-six-wide-grid;
      div.project_text_block {
        grid-column: 2 / 4;
      }
      figure {
        grid-column: 4 / 6;
      }
    }
    &-section_two,
    &-section_four {
      @include nested-six-wide-grid;
      div.project_text_block {
        grid-column: 4 / 6;
      }
      figure {
        grid-column: 2 / 4;
      }
    }
  }
  .nyt_project_page-design-considerations {
    &-wrapper {
      @include nested-six-wide-grid;
    }
    &_left {
      grid-column: 2 / 4;
    }
    &_right {
      grid-column: 4 / 6;
    }
  }
  .nyt_project_page-design-typography_and_color {
    @include nested-six-wide-grid;
    gap: 30px;
    &-type_wrapper {
      grid-column: 2 / 4;
    }
    &-color_wrapper {
      grid-column: 4 / 6;
    }
  }
  .nyt_project_page-problems {
    @include nested-six-wide-grid;
    &_left,
    &-section_one {
      grid-column: 2 / 4;
    }
    &_right,
    &-section_two {
      grid-column: 4 / 6;
    }
  }
  .project_page-wrapper {
    .nyt_project_page-problems {
      &-section_three {
        &-group {
          @include nested-six-wide-grid;
          .project_text_block {
            grid-column: 3 / 5;
            margin-bottom: 1rem;
          }
        }
        &-image.image_one {
          grid-column: 2 / 3;
        }
        &-image.image_two {
          grid-column: 3 / 4;
        }
        &-image.image_three {
          grid-column: 4 / 5;
        }
        &-image.image_four {
          grid-column: 5 / 6;
        }
      }
    }
  }
}

/* ANIMATIONS */
.nyt_summary_wrapper--not-visible {
  opacity: 0;
}
.nyt_summary_wrapper--visible {
  @include fade-in-up-med;
}
