@import "../style/mixins.scss";

.back_to_all_work {
  position: absolute;
  bottom: 0;
  left: 50%;
  // display: none;
  transform: translate(-50%, 100px);
  &.--show {
    display: inline-block;
    animation: back_to_work-initial-open 450ms;
    animation-fill-mode: forwards;
  }
  &.--hide {
    animation: back_to_work-initial-close ease-in-out 350ms;
    animation-delay: 450ms;
    animation-fill-mode: backwards;
  }

  &-wrapper_outer {
    transform: scale(0.3);
    &.--show {
      animation: back_to_work-outer-open 700ms cubic-bezier(0.58, 0.26, 0.23, 1.18) forwards;
      animation-delay: 400ms;
      animation-fill-mode: forwards;
    }
    &.--hide {
      animation: back_to_work-outer-close 500ms ease-in-out forwards;
      animation-delay: 100ms;
      animation-fill-mode: backwards;
    }
  }

  &-wrapper_inner {
    background-color: #59595915;
    max-width: fit-content;
    transform: scaleX(0.27);
    border-radius: 50%;
    padding: 1.05rem 2rem;
    margin: 0 auto;
    &.--show {
      animation: back_to_work-inner-open 250ms cubic-bezier(0.7, 0.26, 0.23, 1.12) forwards;
      animation-delay: 600ms;
    }
    &.--hide {
      animation: back_to_work-inner-close 350ms ease-out;
      animation-delay: 180ms;
      animation-fill-mode: backwards;
    }
  }
  p {
    font-family: var(--main-font);
    color: var(--dark-3);
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.01rem;
    padding-top: 0.1rem;
    text-align: center;
    opacity: 0;
    &.--show {
      animation: back_to_work-text-open 400ms ease-in-out forwards;
      animation-delay: 800ms;
    }
    &.--hide {
      animation: back_to_work-text-close 300ms ease-out forwards;
    }
  }
}

@keyframes back_to_work-initial-open {
  0% {
    transform: translate(-50%, 100px);
  }
  100% {
    transform: translate(-50%, -20px);
  }
}

@keyframes back_to_work-initial-close {
  0% {
    transform: translate(-50%, -20px);
  }
  100% {
    transform: translate(-50%, 100px);
  }
}

/* *** */
@keyframes back_to_work-outer-open {
  0% {
    transform: scale(0.3);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes back_to_work-outer-close {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}

@keyframes back_to_work-inner-open {
  0% {
    transform: scaleX(0.2);
    border-radius: 50%;
  }
  100% {
    transform: scale(1);
    border-radius: 2rem;
  }
}

@keyframes back_to_work-inner-close {
  0% {
    transform: scale(1);
    border-radius: 2rem;
  }
  100% {
    transform: scaleX(0.2);
    border-radius: 50%;
  }
}

/* **** */
@keyframes back_to_work-text-open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes back_to_work-text-close {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
