@import "../style/mixins.scss";

.tools-chip {
  border-radius: 0.5rem;
  border: 0.5px solid var(--Stroke-60, rgba(66, 66, 68, 0.6));
  background: #fefeff;
  display: inline-flex;
  padding: 0.3rem 0.5rem 0.15rem;

  p {
    color: var(--dark-2);
    font-family: var(--main-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 150;
    line-height: 120%;
    letter-spacing: 0.00875rem;
  }
}
