@import "../style/mixins.scss";

.color_swatch_group {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  @include tablet {
    gap: 2rem;
    row-gap: 1rem;
  }
}