@import "../style/mixins.scss";

.color_swatch_group {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  @include tablet {
    row-gap: 2rem;
  }
  @include desktop {
    row-gap: 1rem;
  }
}