@import "../style/mixins.scss";

@media (hover: hover) {
  .landing_project_card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background-color: #59595900;
    border-radius: 1rem;
    border: 1rem solid rgba(0, 0, 0, 0);
    transition: background-color 600ms ease;
  }
  .landing_project_card-cta {
    text-align: right;
    align-self: flex-end;
    will-change: transform;
    transform: translateX(-0.5rem) translateZ(0);
    transition: transform 600ms cubic-bezier(0.88, 0.01, 0.36, 0.99);
    span svg {
      transform: translateX(-0.0125rem) translateZ(0);
      transition: transform 700ms cubic-bezier(0.88, 0.01, 0.36, 0.99);
    }
  }
  .landing_project_card:hover {
    background-color: #59595910;
    .landing_project_card-cta {
      transform: translateX(0rem) translateZ(0);
      
      span svg {
        transform: translateX(0.25rem) translateZ(0);
      }
    }
  }
  
  @include tablet {
    .landing_project_card-cta {
      transform: translateX(0) translateZ(0);
      span svg {
        transform: translateX(-0.125rem) translateZ(0);
      }
    }
    .landing_project_card:hover {
      .landing_project_card-cta {
        transform: translateX(0.4rem) translateZ(0);
        span svg {
          transform: translateX(0.015rem) translateZ(0);
        }
      }
    }
  }
}

.landing_project {

  &_card-cta {
    display: block;
    font-family: var(--main-font);
    font-size: 0.875rem;
    color: var(--dark-2);
    font-weight: 600;
    float: right;
    margin-top: 0.7rem;
    span {
      margin-left: 0.25rem;
      height: 1rem;
      svg {
        width: 0.75rem;
      }
    }
  }
  &_card-image {
    margin: 1rem 0 0;
  }
  &-li:last-child {
    margin-bottom: 2.5rem;
  }
  @include tablet {
    &-li:last-child {
      margin-bottom: unset;
    }
    &_card {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: auto;
      gap: 15px;
      &-image {
        margin-top: 0;
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        img {
          object-fit: fill;
        }
      }
      &-cta {
        grid-column: 4 / 6;
      }
    }
    &_headline {
      grid-column: 4 / 6;
    }
  }
}

// Animations
$base-delay: 0ms;
$delay-increment: 300ms;
.landing_project-li {
  // 2 is number of items to affect
  @for $i from 1 through 3 {
    &:nth-of-type(#{$i}) {
      .landing_project_card-image {
        will-change: transform;
        opacity: 0;
        @include fade-in-custom(
          $amount: 12px,
          $delay: 300 +
            (
              $delay-increment * ($i - 1)
            )
        );
      }
      .landing_project_headline-headline {
        will-change: transform;
        opacity: 0;
        @include fade-in-custom(
          $amount: -5px,
          $duration: 600ms,
          $delay: 200 +
            (
              $delay-increment * ($i - 1)
            )
        );
      }
      .landing_project_headline-description {
        will-change: transform;
        opacity: 0;
        @include fade-in-custom(
          $amount: -5px,
          $duration: 700ms,
          $delay: 100 +
            (
              $delay-increment * ($i - 1)
            )
        );
      }
      .chip_group {
        will-change: transform;
        opacity: 0;
        @include fade-in-custom(
          $duration: 700ms,
          $amount: 5px,
          $delay: 300 +
            (
              $delay-increment * ($i - 1)
            )
        );
      }
      .landing_project_card-cta {
        will-change: transform;
        opacity: 0;
        @include fade-in-opacity(
          $delay: 500 +
            (
              $delay-increment * ($i - 1)
            )
        );
      }
    }
  }
}
