@import "../style/mixins.scss";

.landing_tag {
  &-main_wrapper {
    display: flex;
    overflow: hidden;
    font-family: var(--main-font);
    font-size: 1rem;
    color: var(--dark-2);
    margin-left: 0.125rem;
    gap: 0.25rem;

    @include hi-dpi-mobile {
      gap: 0.125rem; // Giving some space for smaller screens
    }
    @include tablet {
      font-size: 1.125rem;
      margin-top: 0.5rem;
    }
    @include desktop {
      margin-top: -1rem;
      font-size: clamp(0.88rem, 1.5rem, 1vw);
    }
  }
  &-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &-text.--slash {
    color: var(--dark-1);
    font-weight: 600;
  }
}
