@import "../style/mixins.scss";

.landing_project_headline {
  font-family: var(--main-font);
  &-headline {
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: var(--dark-1);
  }
  &-description {
    font-size: 0.95rem;
    font-style: normal;
    font-weight: 300;
    line-height: 137%;
    letter-spacing: 0.02rem;
    color: var(--dark-2);
    margin: 0.125rem 0 0.8rem;
  }
}
