@import "../style/mixins.scss";

.landing_header {
  display: flex;
  flex-direction: column;
  gap: 0;
  &-icon_wrapper {
    display: none;
    button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
    }
  }
  /* Vertical line on mobile */
  &-vertical {
    height: 2rem;
    width: 1.5px;
    background-color: var(--dark-4);
    margin: 1.5rem auto;
    transform: scaleY(0);
    transform-origin: top;
    animation: verticalMobile 700ms ease-in-out forwards;
    opacity: 0.5;
  }
  @include tablet {
    &-vertical {
      display: none;
    }
  }
  @include desktop {
    gap: clamp(2rem, 6vw, 5.62rem);
    &-icon_wrapper {
      display: flex;
      gap: 1.88rem;
    }
  }
}

@keyframes verticalMobile {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}
