@import "../style/mixins.scss";

.project_footer {
  padding-top: 5.5rem;
  padding-bottom: 0.5rem;
  width: 100%;
  
  &-home_page {
    padding-top: 2rem;
    &-about_link {
      display: block;
      font-family: var(--main-font);
      width: fit-content;
      margin: 0 auto;
      a {
        padding: 1rem;
        color: var(--dark-2);
      }
    }
  }

  &-all_links {
    display: flex;
    list-style: none;
    margin: 0 auto;
    width: fit-content;
    gap: 2rem;
    padding: 1rem 0 1.25rem;
  }
  &-link {
    cursor: pointer;
    height: 25px;
    width: 25px;
    svg {
      width: 100%;
      height: 100%;
    }
    button {
      cursor: pointer;
      padding: 0;
      border: none;
      background: none;
    }
  }
}
.project_footer-about_page {
  .project_footer-link{
    height: 35px;
    width: 35px;
    @include tablet {      
      margin-top: 1rem;
      height: 40px;
      width: 40px;
    }
  }
}

@include desktop {
  .project_footer-home_page-about_link {
    display: none;
  }
}
