@import "../style/mixins.scss";

.radio-wrapper {
  font-family: var(--main-font);
  font-size: 12px;
  letter-spacing: 0.02rem;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 5px;
  // background-color: lightcoral;

  label {
    cursor: pointer;
    color:var(--dark-2);
    padding: 3px 0 0;
    
  }
  input {

    cursor: pointer;
    appearance: none;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border: 1px solid #999;
    transition: 0.2s all linear;
    margin: 0;
    transition: border 220ms ease-in-out;
  }
  input:checked {
    border: 5px solid var(--dark-2);
  }
}
