@import "../style/mixins.scss";

.museo_slab {
  @include museo-slab;
}

.djr-900 {
  @include forma-djr-900;
  .type_specimen-large_Aa {
    transform: translateY(-9%);

  }
  .type_specimen-saying {
    margin-bottom: 2%;
  }
}

.djr-400 {
  @include forma-djr-400;
}

.barlow-semibold {
  @include barlowSemibold;
}

.barlow-regular {
  @include barlowRegular;
}

.type_specimen {
  &-main_wrapper {
    display: grid;
    grid-template-columns: 20fr 60fr;
    gap: 1rem;
    border-radius: 0.25rem;
    border: 1px solid var(--dark-3);
    padding: 0.75rem;
  }
  &-left {
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      color: var(--dark-1);
      width: fit-content;
      transform: scale(1.2);
    }
  }
  &-right {
    display: flex;
    color: var(--dark-1);
    flex-direction: column;
    justify-content: space-between;
  }
  &-font_name {
    color: var(--dark-2);
  }
}
